/* the norm */
div.message {
	position:fixed;
	top:50px;
	right:10px;
	width:301px;
	z-index:989;
}
div.message.top-left {
    left: 20px;
    right: auto;
}
div.message.bottom-right {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
}
div.message.bottom-left {
    top: auto;
    right: auto;
    bottom: 20px;
    left: 20px;
}
