<div class="row">
	<!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-cyan text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
	            <h6 class="text-white">Dashboard</h6>
	        </div>
	    </div>
	</div>
	 <!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-warning text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
	            <h6 class="text-white">Widgets</h6>
	        </div>
	    </div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-danger text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
	            <h6 class="text-white">test</h6>
	        </div>
	    </div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-info text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
	            <h6 class="text-white">Full Width</h6>
	        </div>
	    </div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-info text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>
	            <h6 class="text-white">Buttons</h6>
	        </div>
	    </div>
	</div>
	 <!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-cyan text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
	            <h6 class="text-white">Elements</h6>
	        </div>
	    </div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-success text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>
	            <h6 class="text-white">Calnedar</h6>
	        </div>
	    </div>
	</div>
	<!-- Column -->
	<div class="col-md-6 col-lg-2 col-xlg-3">
	    <div class="card card-hover">
	        <div class="box bg-warning text-center">
	            <h1 class="font-light text-white"><i class="mdi mdi-alert"></i></h1>
	            <h6 class="text-white">Errors</h6>
	        </div>
	    </div>
	</div>
	<!-- Column -->
</div>
